# Ignore node_modules directory
node_modules/

# Ignore built files
dist/
build/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db