[submodule "orders-microservice"]
	path = orders-microservice
	url = git@github.com:ignaciomendeznole/orders-microservice.git
[submodule "products-microservice"]
	path = products-microservice
	url = git@github.com:ignaciomendeznole/products-microservice.git
[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:ignaciomendeznole/store-client-gateway.git
[submodule "payments-microservice"]
	path = payments-microservice
	url = git@github.com:ignaciomendeznole/payments-microservice.git
[submodule "auth-microservice"]
	path = auth-microservice
	url = git@github.com:ignaciomendeznole/auth-microservice.git
